
 
 body {background: #cfd5cc; } 
 
 fieldset{ 
   background: #f0f5ec;
   padding-top: 0.7em;
   margin-top: 0.7em; margin-bottom: 0.7em; 
   width:43em;
 }
 
 
 h2 {
   font-size: 140%; 
   font-family: arial;
   margin-left: 5px; 
   margin-bottom: 10px
 }
 
 div.trblock, label {display: block; overflow: hidden; }
 
 
 label, input, select, textarea { 
   padding: 0px;   
   padding-top: 1px;margin-bottom: 3px;
   vertical-align: middle;
 }
 
 input {height: 1.6em; border: 1px inset #666;  margin-left: 5px; padding: 0px 3px 0px 3px;}
 button {background: #cdc; font-size: smaller; margin-left: 5px;}
 
 label {color: #353}
 
 label.leftlab, label.lleftlab {
   float: left;
   width: 14em;
   text-align: right;
   padding-right: 7px;
 }
 label.lleftlab {width: 8em}
 
 .fwup {margin-left: 0.2em; width: 32em}
 textarea.fwup {height: 20em; width: 40em}
 
 br { clear: left; }
 
 .error {color: #900 }
 .ok {color: #080 }
